<!DOCTYPE html>
<html>
  <head>
    <title>Primeiro Blog</title>
  </head>
  <body>
      <section>
        <h1><a href="/">Blog Django Girls</a></h1>
      </section>
      <section>
        <p>publicado: 27.01.2020, 09:50</p>
        <h2><a href="">Meu Primeiro Post</a></h2>
        <p>Gingerbread sugar plum dragée bear claw chocolate bar ice cream pastry cake jelly-o. Caramels donut lollipop gummi bears cake cupcake ice cream ice cream jelly-o. Chocolate bar powder gummi bears jelly beans jujubes icing jelly beans chocolate. Caramels chupa chups cake tootsie roll lollipop jelly-o. Chocolate bar sweet liquorice gummies. Lollipop chupa chups jujubes chocolate bar topping. Brownie biscuit dragée caramels. Candy canes candy canes sweet chocolate bar pudding. Ice cream jujubes brownie bonbon candy canes bonbon toffee cake. Carrot cake halvah cookie topping halvah cheesecake apple pie. Oat cake chocolate soufflé fruitcake biscuit caramels. Gummies cookie jelly pie lemon drops pie.</p>
      </section>
      <section>
        <p>publicado: 27.01.2020, 09:52</p>
        <h2><a href="">Meu Segundo Post</a></h2>
        <p>Chocolate cake tootsie roll carrot cake lemon drops danish ice cream tiramisu apple pie wafer. Cookie chocolate cake halvah pie ice cream cake ice cream cheesecake. Icing cake muffin cheesecake caramels bonbon sweet brownie. Fruitcake dragée gingerbread bonbon candy canes. Jelly-o bonbon apple pie. Cake gummies jelly. Danish cookie sesame snaps croissant oat cake toffee lollipop croissant. Jelly beans cake gummi bears candy gingerbread. Brownie muffin wafer jujubes chocolate bar lemon drops halvah brownie. Croissant marzipan cookie toffee muffin. Chupa chups wafer gingerbread candy chocolate cake tart. Liquorice candy pie chocolate cupcake marshmallow sesame snaps gingerbread. Dessert bear claw cheesecake pastry danish jujubes cake jelly beans. Apple pie candy canes bonbon cotton candy macaroon.</p>
      </section>
  </body>
</html>
